<section class="about" id="about">
  <div class="container">
    <h3 class="about__title title">О студии</h3>
    <div class="about__inner">
      <p class="about__inner-text">
        В рамках спецификации современных стандартов, интерактивные
        прототипы, инициированные исключительно синтетически, ограничены
        исключительно образом мышления. Предварительные выводы
        неутешительны: высокотехнологичная концепция общественного
        уклада требует от нас анализа соответствующих условий
        активизации! Следует отметить, что семантический разбор внешних
        противодействий фиксирует необходимость распределения внутренних
        резервов и ресурсов. Безусловно, граница обучения кадров
        предоставляет широкие возможности для первоочередных требований.
        Повседневная практика показывает, что глубокий уровень
        погружения предполагает независимые способы реализации новых
        принципов формирования материально-технической и кадровой базы.
        Приятно, граждане, наблюдать, как явные признаки
        институционализации являются только методом политического
        участия и нарушающими общечеловеческие нормы этики.
      </p>

      <div class="about__inner-img-form">
        <picture>
          <source srcset="images/about/about-4.jpg" media="(max-width: 680px)">
          <source srcset="images/about/about-3.jpg" media="(max-width: 768px)">
          <source srcset="images/about/about-2.jpg" media="(max-width: 1340px)">
          <img class="about__inner-img" src="images/about/about-1.jpg" alt="Книжная гравюра">
        </picture>
        <p class="about__inner-img-form-text">
          Подписаться на рассылку
        </p>
        <form class="form">
          <label class="form__label">
            <input type="text" class="form__input" placeholder="E-mail" />
          </label>
          <button class=" btn-reset btn form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
