<footer class="footer">
  <div class="container">

    <div class="footer__inner">

     <div class="logo-box">
      <a class="logo footer__logo" href="#header">
        <img class="logo__img" loading="lazy" src="./images/icons/logo.svg" alt="логотип blanchard" width="190"
          height="30" />
      </a>
      <span>Фотостудия High pass® 2018-2022</span>
     </div>

      <div class="footer__info">
        <p>Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.
          <span>© Имоджен Каннингем</span></p>
      </div>

      <div class="footer__social-inner">
        <span class="footer__social-text">Больше интересного:</span>
        <ul class="social-list footer__social list-reset">
          <li class="social-list__item">
            <a class="social-list__link social-list__link--inst" href="https://vk.com/medvedevbn" target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link social-list__link--fb" href="https://vk.com/medvedevbn" target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link social-list__link--vk" href="https://vk.com/medvedevbn" target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</footer>
