<section class="hero">
  <h1 class="sr-only">Мастер-класс от Игоря Робова</h1>
  <div class="container">
    <ul class="hero-content list-reset">

      <li class="hero-content__item hero-content__item1">
        <picture>
          <source srcset="images/hero/320/hero-1.jpg" media="(max-width: 735px)">
          <source srcset="images/hero/768/hero-1.jpg" media="(max-width: 768px)">
          <source srcset="images/hero/1024/hero-1.jpg" media="(max-width: 1340px)" width="466" height="623">
          <img src="images/hero/hero-1.jpg" alt="фото" />
        </picture>
        <div class="hero-content__item-info">
          <p class="hero-content__item-text">Мастер-класс от Игоря Робова</p>
          <h2 class="hero-content__item-title">
            Неоновый фотосет 2.0 7 июля 20:00
          </h2>
          <a class="hero-content__item-btn btn" href="">Узнать больше</a>
        </div>
        <a class="hero-content__item-link badge" href="">#мастеркласс</a>
      </li>
      <li class="hero-content__item hero-content__item2">
        <p class="hero-content__item-descr">Работы участников предыдущего мастер-класса</p>
        <picture>
          <source srcset="images/hero/320/hero-2.jpg" media="(max-width: 735px)">
          <source srcset="images/hero/768/hero-2.jpg" media="(max-width: 768px)">
          <source srcset="images/hero/1024/hero-2.jpg" media="(max-width: 1340px)" width="466" height="332">
          <img src="images/hero/hero-2.jpg" alt="фото" />
        </picture>
      </li>
      <li class="hero-content__item hero-content__item3">
        <picture>
          <source srcset="images/hero/320/hero-3.jpg" media="(max-width: 735px)">
          <source srcset="images/hero/768/hero-3.jpg" media="(max-width: 768px)">
          <source srcset="images/hero/1024/hero-3.jpg" media="(max-width: 1340px)" width="218" height="186">
          <img src="images/hero/hero-3.jpg" alt="фото" />
        </picture>
      </li>
      <li class="hero-content__item hero-content__item4">
        <picture>
          <source srcset="images/hero/320/hero-4.jpg" media="(max-width: 735px)">
          <source srcset="images/hero/768/hero-4.jpg" media="(max-width: 768px)">
          <source srcset="images/hero/1024/hero-4.jpg" media="(max-width: 1340px)" width="218" height="186">
          <img src="images/hero/hero-4.jpg" alt="фото" />
        </picture>
      </li>
    </ul>
  </div>
</section>
