<section class="project" id="project">
  <div class="container">
    <h3 class="project__title title">Наши проекты</h3>
    <ul class="project-content list-reset">
      <li class="project-content__item project-content__item-1">
        <picture>
          <source srcset="images/project/320/project-1.jpg" media="(max-width: 440px)" />
          <source srcset="images/project/1024/project-1.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-1.jpg" alt="фото" />
        </picture>
        <p class="project-content__item-text">
          Синтетически, смешаны с не уникальными данными до степени
          Синтетически, смешаны с не уникальными данными до степени
        </p>
        <span class="project-content__item-date">16 июня</span>
        <a class="project-content__item-link badge" href="">#пейзаж</a>
      </li>
      <li class="project-content__item project-content__item-2">
        <picture>
          <source srcset="images/project/320/project-2.jpg" media="(max-width: 440px)" />
          <source srcset="images/project/1024/project-2.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-2.jpg" alt="фото" />
        </picture>
        <p class="project-content__item-text">
          В своём стремлении улучшить опыт мы упускаем, что явные В своём
          стремлении улучшить опыт мы упускаем, что явные
        </p>
        <span class="project-content__item-date">16 июня</span>
        <a class="project-content__item-link badge" href="">#портрет</a>
      </li>
      <li class="project-content__item project-content__item-3">
        <picture>
          <source srcset="images/project/320/project-3.jpg" media="(max-width: 320px)" />
          <source srcset="images/project/768/project-3.jpg" media="(max-width: 768px)" />
          <source srcset="images/project/1024/project-3.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-3.jpg" alt="фото" />
        </picture>
        <p class="project-content__item-text">
          Равным образом, высокое качество позиционных Равным образом, высокое
          качество позиционных
        </p>
        <span class="project-content__item-date">16 июня</span>
        <a class="project-content__item-link badge" href="">#предмет</a>
      </li>
      <li class="project-content__item project-content__item-4">
        <picture>
          <source srcset="images/project/320/project-4.jpg" media="(max-width: 560px)" />
          <source srcset="images/project/768/project-4.jpg" media="(max-width: 768px)" />
          <source srcset="images/project/1024/project-4.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-4.jpg" alt="фото" />
        </picture>

        <div class="info-block">
          <div class="info-block__box">
            <span class="info-block__date">9 апреля</span>
            <h4 class="info-block__title info-block__title--right">
              Cемантический разбор
            </h4>
            <p class="info-block__descr">
              В рамках спецификации современных стандартов, интерактивные
              прототипы
            </p>
          </div>
          <button class="info-block__btn btn-reset btn btn-transparent">О проекте</button>
        </div>

        <a class="project-content__item-link badge" href="">#fuji</a>
      </li>
      <li class="project-content__item project-content__item-5">
        <picture>
          <source srcset="images/project/320/project-5.jpg" media="(max-width: 560px)" />
          <source srcset="images/project/768/project-5.jpg" media="(max-width: 768px)" />
          <source srcset="images/project/1024/project-5.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-5.jpg" alt="фото" />
        </picture>
        <a class="project-content__item-link badge" href="">#проектзабвение</a>

        <div class="info-block">
          <div class="info-block__box">
            <span class="info-block__date">16 июня</span>
            <h4 class="info-block__title">Забвение</h4>
            <p class="info-block__descr">
              Играет важную роль в формировании глубокомысленных рассуждений
            </p>
          </div>
          <button class="info-block__btn btn-transparent btn-reset btn">О проекте</button>
        </div>
      </li>
      <li class="project-content__item project-content__item-6">
        <picture>
          <source srcset="images/project/320/project-6.jpg" media="(max-width: 440px)" />
          <source srcset="images/project/1024/project-6.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-6.jpg" alt="фото" />
        </picture>
        <p class="project-content__item-text project-content__item-text--clamp">
          Как принято считать, многие известные личности и по сей день остаются
          уделом либералов Как принято считать, многие известные личности и по
          сей день остаются уделом либералов
        </p>
        <span class="project-content__item-date">9 марта</span>
        <a class="project-content__item-link badge" href="">#ретушь</a>
      </li>
      <li class="project-content__item project-content__item-7">
        <picture>
          <source srcset="images/project/320/project-7.jpg" media="(max-width: 440px)" />
          <source srcset="images/project/1024/project-7.jpg" media="(max-width: 1340px)" />
          <img class="project-content__item-img" src="images/project/project-7.jpg" alt="фото" />
        </picture>
        <p class="project-content__item-text project-content__item-text--clamp">
          С учётом сложившейся международной обстановки, новая модель
          организационной С учётом сложившейся международной обстановки, новая
          модель организационной
        </p>
        <span class="project-content__item-date">1 марта</span>
        <a class="project-content__item-link badge" href="">#портрет</a>
      </li>
    </ul>
  </div>
</section>
